[autotune_tmc stepper_x]
motor: ldo-42sth48-2504macf
sgt: 1
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504macf
sgt: 1

[motor_constants gpenny-42hs4825a4]
resistance: 1.6
inductance: 0.0018
holding_torque: 0.5
max_current: 2.50
steps_per_revolution: 200

[autotune_tmc stepper_z]
motor: gpenny-42hs4825a4
[autotune_tmc stepper_z1]
motor: gpenny-42hs4825a4
[autotune_tmc stepper_z2]
motor: gpenny-42hs4825a4
[autotune_tmc stepper_z3]
motor: gpenny-42hs4825a4

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg
# tuning_goal: performance
